@page "/"
@using MudBlazor

<PageTitle>Home</PageTitle>

<MudPaper  MinHeight ="400px" MaxWidth="1300px" Outlined Class="cust-block ma-2 ma-md-4">
    <h1>Hello, world!</h1>

    Welcome to your new app.
</MudPaper>


